{% extends "_base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Homepage</h1>
    {% if user.is_authenticated %}
        Hi {{ user.email }} !
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
    {% else %}
        <p>Não tens sessão iniciada</p>
        <a href="{% url 'login' %}">Log in</a>~
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
{% endblock content %}
